*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.error h1{
    font-size: 3rem;
    font-family: sans-serif;
}
.error{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-direction: column;
    color: whitesmoke;
}